*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{ color: #f38295;}

html{
    font-size: 62.5%;
}

body{
    margin: auto;
    width: 100vw;
    color: white;
    background: #322742;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    font-family: 'roboto', sans-serif;
    line-height: 1.5;
}

header{
    width: 100%;
    height: 60px;
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #322742;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
} 

header h1{
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

header nav ul li{
    width: 120px;
    height: 80%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li a{
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li a:hover{
    color: #f38295;
}

header nav ul li a:active{
    color: #f38295;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* HOME */
main .Home{
    height: 70vh;
    width: 100%;
    margin: auto;
    padding: auto;
    margin-top: 50px;
    background-color: #322742;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

main .Home .content{
    width: 90%;
    height: 100%;
    margin-top: 50px;
}

main .Home .content .slider{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 12em;
}

main .Home .content .slider .slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5em;
    align-items: center;
    transition: opacity 1.5s;
}

main .Home .content .slider .slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

main .Home .content .slider .slider_arrow{
    cursor: pointer;
    width: 90%;
    margin: auto;
}

main .Home .content .slider .slider-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

main .Home .content .slider .slider-img img{
    width: 100%;
    height: 100%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    
}

main .Home .content .slider .slider-text{
    max-width: 600px;
}

main .Home .content .slider .slider-text h2{
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5em;
}

main .Home .content .slider .slider-text p{
    font-size: 1.7rem;
    color: white;
    line-height: 1.5;
}

/* PORTFOLIO */

main .Portfolio{
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.Portafolio__container--content{
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Portfolio  .Portafolio__container--content .Portafolio__container{
    width: 70%;
    padding: 50px;
    border: 4px solid #f38295;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Portafolio__container .portfolio-item{
    width: 90%;
    max-width: 500px;
    min-width: 200px;
    height: 100px;
    margin-bottom:20px;
    padding: 10px;
    display: grid;
    grid-template-rows:1fr ;
    grid-template-columns: 110px auto 50px;
    gap: 2em;
    align-items: center;
    justify-content: center;
    background-color: #322742;
    border: 2px solid #f38295;
    border-radius: 15px;
}

.Portafolio__container .portfolio-item .portfolio-item__img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 0 10px;
    border: 3px solid wheat;
    border-radius: 50%;
}

.Portafolio__container .portfolio-item .portfolio-item__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.portfolio-item .portfolio-item-text h3{
    font-size: 1.8rem;
}

.portfolio-item .portfolio-item-text p{
    font-size: 1.4rem;
}


.Portafolio__container .portfolio-item .down__arrow{
    width: 20px;
    height: 20px;
}


@media (max-width: 908px){
    main .Home .content .slider{
        gap: 2em;
    }

    main .Home .content .slider .slider-img{
        width: 200px;
        height: 200px;
    }

    .portfolio-item .portfolio-item-text h3{
        font-size: 1.5rem;
    }
    
    .portfolio-item .portfolio-item-text p{
        font-size: 1.2rem;
    }
}

@media (max-width: 740px){

    main .Home .content .slider .slider__body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
        gap:1em
    }

    main .Home .content .slider .slider-img{
        width: 150px;
        height: 150px;
    }

    main .Home .content .slider .slider-text h2{
        font-size: 3rem;
    }

    .portfolio-item .portfolio-item-text h3{
        font-size: 1.4rem;
    }
    
    .portfolio-item .portfolio-item-text p{
        font-size: 1rem;
    }
}

@media (max-width: 675px){
    .Portafolio__container .portfolio-item{
        grid-template-columns: auto auto auto;
    }

    .Portafolio__container .portfolio-item .portfolio-item__img{
        width: 60px;
        height: 60px;
    }

    .Portafolio__container .portfolio-item .down__arrow{
        width: 20px;
        height: 20px;
    }

    .portfolio-item .portfolio-item-text h3{
        font-size: 1.2rem;
    }

    .portfolio-item .portfolio-item-text p{
        display: none;
    }
}

@media (max-width: 470px){

    main .Home .content .slider {
        grid-template-columns: 25px 1fr 25px;
    }

    main .Home .content .slider .slider_arrow{
        width: 100%;
    }

    main .Home .content .slider .slider-img{
        width: 160px;
        height: 160px;
    }

    main .Home .content .slider .slider-text h2{
        font-size: 3rem;
    }
    
    main .Home .content .slider .slider-text p{
        font-size: 1.8rem;
    }

    .Portafolio__container .portfolio-item{
        grid-template-columns: auto auto auto;
    }

    .Portafolio__container .portfolio-item .portfolio-item__img{
        width: 80px;
        height: 80px;
    }

    .Portafolio__container .portfolio-item .down__arrow{
        width: 30px;
        height: 30px;
    }

    .portfolio-item .portfolio-item-text h3{
        display: none;
    }
}

